/* Footer styles */
.footer {
    background-color: #0f1423;
    box-shadow: 0 3px #0c2d48; 
    color: white;
    padding: 7px; /* Padding around content */
    width: 100%;
    position: fixed; /* Fixed to the bottom of the viewport */
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-end; /* Align to the right */
    padding-right: 30px; /* Additional padding for right alignment */
    z-index: 1000;
}

/* Fade-in and slide-up animation */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0; /* Fully transparent */
        transform: translateY(20px); /* Start slightly lower */
    }
    100% {
        opacity: 1; /* Fully opaque */
        transform: translateY(0); /* End at original position */
    }
}

/* Class for fading in and sliding up */
.fade-in-slide-up {
    animation: fadeInSlideUp 3s ease-in-out forwards; /* Adjust duration and easing as needed */
}

.footer p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding-bottom: 3px; /* Space between text and icons */
    text-align: right;
}

.social-links {
    display: flex;
    gap: 15px; /* Space between icons */
}

.social-links a {
    color: white;
    font-size: 22px;
    transition: color 0.2s ease, transform 0.2s ease; /* Smooth hover effect */
}

.social-links a:hover {
    color: #40a9ff; /* Hover color */
    transform: scale(1.1); /* Slight zoom effect on hover */
}
